@charset "EUC-KR";

.marketing .col-lg-4 {margin-bottom: 1.5rem; text-align: center;}
.carousel {margin-bottom: 4rem;}
.commend {width:1000px; margin:0 auto; padding-top:60px;}
.commend > h3 {font-size:23px; color:#ffc107;}