@charset "EUC-KR";

ul li {list-style:none; margin:0;}
.marketing .col-lg-4 {margin-bottom: 1.5rem; text-align: center;}
.carousel {margin-bottom: 4rem;}
.ttop {display:flex; margin-left:20px; margin-bottom:20px;}
.ttop h3 {font-weight:bold;}
.ttop img {margin:6px 0 0 5px;}
.ttop span {height:30px; margin:-2px 0 0 5px; font-size:25px; font-weight:bold; color:#eca600;}
.tbom {margin-left:20px;}
.tbom .info_text .inline-div {display: inline-block; margin-right: 5px; vertical-align: top;}
.tbom .info_text table tr {display:block; margin-bottom:20px;}
.tbom .info_text table th {width: 130px; vertical-align: top; line-height: 2.5; text-align: left;}
.tbom .info_text table th h3 {margin-bottom:0; font-size: 18px; font-weight: 400; color: #999;}
.tbom .info_text table td p {font-size: 14px; font-weight: 400; color: #666; line-height: 1;}
.tbom .info_text table td p span {display: inline-block; width: 40px; line-height: 20px; border-radius: 5px; font-size: 14px; color: #999; border: 1px solid #ddd; text-align: center; margin-right: 5px;}
.tbom .info_text table td .label {display: inline-block; vertical-align: middle; line-height: 16px; border-radius: 5px; font-size: 12px; font-weight: 600; color: #ff7400; border: 1px solid #ff7400; text-align: center; margin-top:4px; margin-left: 10px; padding: 0 5px;}
.store_fonction {width: 100%; margin: 73px 0 0 20px; background-color: transparent; padding: 8px 0; display: flex; justify-content: space-between; cursor:pointer; cursor:pointer;}
.store_fonction input[type=checkbox] {display:none;}
.store_fonction label {cursor:pointer;}
.store_fonction a {color:#000;}
.store_fonction button {background:transparent; border:0;}
.store_fonction button img, .store_fonction a img {display:inline-block; height:20px;}
.store_fonction button img, .store_fonction span {vertical-align:middle;}
.store_info3 {position: relative; padding: 15px 20px; border: 1px solid #ddd; box-sizing: border-box; border-radius: 10px; margin-bottom: 12px; margin-top: 20px;}
.store_info3 .store_info3_title {font-size: 20px; font-weight: bold; color: #000; text-align: left; margin-bottom: 20px;}
.store_info3 .text {font-size: 16px; color: #000; line-height: 1.6;}
.map {margin:30px 0;}
.store_review {position: relative; border: 1px solid #ddd; border-radius: 10px; box-sizing: border-box; margin-top: 20px; padding: 0 20px 25px;}
.store_review .review_title {position: relative; font-size: 18px; color: #000; text-align: left; padding: 15px 0; border-bottom: 1px solid #ddd;}
.store_review .review_title h3 {display:contents; font-size:18px;}
.store_review .review_title input {display:none;}
.store_review .review_title input + label {position: absolute; top: 50%; transform: translateY(-50%); right: 0; font-size: 16px; font-weight: bold; color: #ff7400; padding-right: 18px; background-image: url(resources/img/bg_arrow.png); background-position: top 8px right; background-repeat: no-repeat; background-size: 12px; cursor: pointer;}
.store_review .review_write {padding:40px 0 50px;}
.store_review .review_write .review_write_title {font-size:25px; font-weight:500; color:#000; text-align:center;}
.store_review .review_write .scoreBox {margin:60px 0; text-align:center;}
.store_review .review_write .scoreBox img {display:inline-block; width:36px; margin-right:5px; vertical-align:top;}
.store_review .review_write .scoreBox select {width:80px; height:35px; border: var(--bs-border-width) solid var(--bs-border-color); border-radius: var(--bs-border-radius);}
.txtbox {border: 1px solid #d7d7d7; position: relative; overflow: hidden; background: #fff; padding: 0 0 0 15px;}
.txtbox label.label {position: absolute; left: 0; top: 0; width: 100%; padding: 14px 0 0 16px; color: #999; font-size: 1.250em; cursor: text;}
.txtbox textarea {width: 100%; height: 10rem; resize: none; background: #fff; border: none; outline: none; padding-top: 16px; margin-top: 1px; font-size: 1.250em;}
.store_review .review_write .file_list {position: relative; margin-top: 20px;}
.store_review .review_write .file_list ul {text-align: left; padding-right: 50px; padding-left:0;}
.store_review .review_write .file_list ul li {position: relative; display: inline-block; vertical-align: middle; width: 80px; height: 80px; background-image: url(/matjjang/resources/img/bg_photo_file03.gif); background-position: center; background-repeat: no-repeat; background-size: contain; margin-right: 5px;}
.store_review .review_write .file_list ul li input[type=file] {width: 80px; height: 80px; opacity: 0;}
.store_review .review_write .file_list ul li > img { display: block; width:100%; height: 100%; object-fit: cover; object-position: center;}
.store_review .review_write .file_list ul li .btn_del {position:absolute; top:0; right:0;}
.store_review .review_write .file_list ul li .btn_del img {display: block;}
.store_review .review_write .file_list .btn {position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: 20px; font-weight: 600; color: #ffc107; cursor: pointer;}
.store_review .place_review_list {position: relative; width: 100%; padding: 10px 10px 40px 10px; box-sizing: border-box; vertical-align: top; border-top: 1px solid lightgray; overflow-x: auto;}
.store_review .place_review_list .name {font-size: 18px; color: #000; display: inline-block;}
.store_review .place_review_list .name .score {font-size: 18px; font-weight: bold; color: #ffc107;}
.store_review .place_review_list .action {display: inline-block; float: right;}
.store_review .place_review_list .review_action {font-size: 12px; color: #999; text-decoration: underline; background: none !important; margin-left: 5px; padding: 0px !important;}
.store_review .place_review_list .review_text {font-size: 14px; color: #666; margin-top: 10px; line-height: 1.4; overflow-y: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.store_review .place_review_list .img_list a {display: inline-block; vertical-align: middle; width: 80px; height: 70px; margin-top: 5px; margin-right: 5px;}
.store_review .place_review_list .img_list a img {display: block; width: 100%; height: 100%; object-fit: cover; object-position: center;}
.store_review .place_review_list .review_status {width: 100%; height: 1.5rem; color: gray; font-size: 0.7rem; padding-top: 10px;}
.store_review .place_review_list .review_status button {border: none; background: none; padding: 0;}
.store_review .place_review_list .review_status button span {font-size:13px;}
.store_review .place_review_list .review_status button span.black {color: gray;}
.store_review .place_review_list .review_status button span svg {vertical-align: top; margin-top:3px; overflow: hidden;}
.store_review .place_review_list .review_status button.reply-cnt {margin-left:10px;}
.store_review .more_list {position: absolute; left: 0; bottom: 0; width: 100%; border-radius: 0 0 10px 10px; background-color: #ff7400; font-size: 16px; font-weight: 300; color: #fff; text-align: center; line-height: 40px; z-index: 1;}

.mypage .mp_profile_info {margin: 0 auto; width: 922px; position: relative; padding: 16px 0; letter-spacing: -.50px; overflow: hidden;}
.mypage .mp_profile_info .info dl dt {color: #000; font-weight: 700; font-size: 1.6em; padding-bottom: 2px;}
.mypage .mp_profile_info .info dl dd {color: #999; font-size: 1.12em; line-height: 22px;} 
.mypage .mp_profile_info .btn_profile_modify {position: absolute; right: 0; top: 19px; color: #999; padding-top: 34px; font-size:0.78em; background: url(/matjjang/resources/img/bg_profile_modify.png) no-repeat center 0; background-size:41%;}
.mypage .mp_conts {overflow: hidden; width: 922px; margin: 30px auto 0;}
.mypage .mp_conts .mp_tab {border-top: 2px solid #000; border-bottom: 1px solid #000;}
.mypage .mp_conts .mp_tab ul {overflow:hidden; margin-bottom:0;}
.mypage .mp_conts .mp_tab ul li {float: left; width: 32%;}
.mypage .mp_conts .mp_tab ul li a {display: block; padding: 20px 0; text-align: center; font-size: 0.99em; color: #999; line-height: 20px;}
.mypage .mp_conts .mp_tab ul li.active a {font-weight: 700; color: #000;}
.mypage .mp_conts .mp_tab ul a span {display:block;}
.mypage .mp_conts .mp_tab ul a.active span {font-weight: 400;} 
.mypage .mp_favorit_list {padding-top: 25px; position: relative;}
.mypage .tab_content {display:none;}
.mypage .tab_content.active {display:block;}
.mypage .mp_favorit_list .folder_add_box {display:flex; justify-content:space-between;}
.mypage .mp_favorit_list .folder_add_box .txt_save_info {color: #9a9a9a; font-size: 0.8em; margin-bottom: -2px;}
.mypage .mp_favorit_list .folder_add_box .txt_save_info strong {color: #ffc107; font-weight: 700;}
.mypage .mp_favorit_list .folder_add_box .btn_folder_add {position: absolute; right: 0; top: 20px; border: 1px solid #cdcdcd; height: 28px; padding: 0 9px; line-height: 28px; color: #929292; letter-spacing: -.50px;}
.mypage .mp_favorit_list .folder_add_box .btn_folder_add span {display: block; padding-right: 18px; font-size:.75em; background: url(/matjjang/resources/img/bg_btn_line02.png) no-repeat right center; }
.mypage .mp_favorit_list .folder_box {margin: 38px 0; background: #fff; border: 1px solid #e2e2e2;} 
.mypage .mp_favorit_list .folder_box .floder_store {margin-top: -15px; position: relative; margin-left: -1px; padding: 32px 11px 12px; background: url(/matjjang/resources/img/bg_folder.gif) no-repeat 0 0;}
.mypage .mp_favorit_list .folder_box .floder_store h3 {display:flex; justify-content:space-between; font-size: 1.4em; letter-spacing: -.50px; font-weight: 700; line-height: 24px; padding-bottom: 14px;}
.mypage .mp_favorit_list .folder_box .floder_store h3 strong {color: #ffc107; font-weight: 700; font-size: .700em; vertical-align:top; padding-left: 4px;}
.mypage .mp_favorit_list .folder_box .floder_store ul {overflow:hidden;}
.mypage .mp_favorit_list .folder_box .floder_store ul li {float: left; width: 153px; height: 123px; overflow: hidden; position: relative; margin-left: 12px; background: url(/matjjang/resources/img/bg_no_data04.jpg) no-repeat center center;}
.mypage .mp_favorit_list .folder_box .floder_store ul li:first-child {margin-left:0;}
.mypage .mp_favorit_list .folder_box .floder_store ul li img {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
.mypage .listTy1 ul {overflow: hidden; display: table; width: 100%; table-layout: fixed; color:#444; font-size:0.93em;}
.mypage .mp_like_place .listTy1 > ul > li {width: 204px; height: auto; min-height: 322px; float:left; margin-right: 16px; padding-bottom: 0; margin-bottom: 39px;}
.mypage .listTy1 ul li a {display:block; margin-top:26px;}
.mypage .mp_like_place .listTy1 ul li .img {display:block; position: relative; overflow: hidden; height: 164px;}
.mypage .listTy1 ul li .img > img {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
.mypage .mp_like_place .listTy1 ul li .cnt {position:relative; padding-right:7px;}
.mypage .mp_like_place .listTy1 ul li .score {display: block; color: #ff7400; font-weight: 700; font-style: normal; line-height: 22px; letter-spacing: -1px; font-size: 1.8em; padding-top: 14px;}
.mypage .mp_like_place .listTy1 ul li .box_tit {position:relative;}
.mypage .mp_like_place .listTy1 ul li .store {display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 1.2em; line-height: 24px; padding: 12px 0 6px; font-weight: 700; letter-spacing: -1px; margin-right: 54px; color:#000;}
.mypage .mp_like_place .listTy1 ul li .box_tit .ico_right {position:absolute; right: 0; top: 8px;}
.mypage #layer_mp_folder_add, .mypage #layer_mp_folder_modify {top: 50%; margin-top: -220px; z-index: 12;}
.mypage .layer_wrap {position: fixed; left: 0; top: 0; width: 100%;}
.mypage .bgModal {display:none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; min-height: 100vh; z-index: 10; background: rgba(0,0,0,0.5);}
.mypage .layer_mp_folder_add {display:none; position: relative; margin: 0 auto; width: 540px; padding-bottom: 49px; background: #fff; z-index: 54;}
.mypage .layer_header {border-bottom: 1px solid #d7d7d7; height: 70px; padding: 0 26px;}
.mypage .layer_header h3 {line-height: 70px; font-size: 1.3em; letter-spacing: -1px; font-weight: 700;}
.mypage .layer_mp_folder_add .mp_folder_add {padding: 0 70px;}
.mypage .layer_mp_folder_add .txt_ment {text-align: center; font-size: 1.1em; letter-spacing: -.25px; font-weight: 700; padding-top: 44px; padding-bottom: 37px;} 
.mypage .txtbox {border: 1px solid #d7d7d7; position: relative; overflow: hidden; background: #fff; padding: 0 0 0 15px;}
.mypage .txtbox label.label {position: absolute; left: 0; top: 0; width: 100%; padding: 14px 0 0 16px; color: #999; font-size: 1.250em; cursor: text;}
.mypage .layer_mp_folder_add .txtbox textarea {height: 107px; width: 100%; resize: none; background: #fff; border: none; outline: none; padding-top: 16px; margin-top: 1px; font-size: 0.97em;}
.mypage .layer_mp_folder_add .btn_box {text-align: center; padding-top: 50px;}
.mypage .layer_mp_folder_add .btn_box ul {overflow:hidden; padding:0;}
.mypage .layer_mp_folder_add .btn_box ul li {display:inline-block;}
.mypage .layer_mp_folder_add .btn_box .btnTy10, .mypage .layer_mp_folder_add .btn_box .btnTy11, .mypage .layer_mp_folder_add .btn_box .btnTy12 {margin-right: 5px; display: inline-block; width: 78px; height: 38px; background: #fff; border: 1px solid #e1e1e1; line-height: 38px; text-align: center; color: #000; letter-spacing: -.50px; font-size: 0.88em; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;} 
.mypage .layer_mp_folder_add .btn_box .btnTy11 {border: 1px solid #ff7400; background: #ff7400; color:#fff;}
.mypage .layer_mp_folder_add .btn_box .btnTy12 {border: 1px solid #999; background: #999; color: #fff;} 
.mypage .layer_wrap .btn_layer_close {position: absolute; right: 0; top: -46px; z-index: 6; width: 26px; height: 26px; background: url(/matjjang/resources/img/btn_layer_close.png) no-repeat 0 center;}
.mypage .mp_review ul {padding-left:0; padding-bottom:0;}
.mypage .mp_review ul li {position: relative; border-bottom: 1px solid #d7d7d7; padding: 15px 5px 20px; overflow: hidden; font-size: inherit;}  
.mypage .mp_review ul li .cont {position: relative; margin: 0;}
.mypage .mp_review ul li .cont .score_story span {float: left; font-weight: 700; font-size: 1.15em; color: #000;}
.mypage .mp_review ul li .cont .score_story span strong {color: #ff7400; padding-right: 3px;}
.mypage .mp_review ul li .cont .score_story span a {text-decoration: underline; color:#222;}
.mypage .mp_review ul li .cont .score_story .date {float: left; color: #999; padding-left: 11px; margin-top: 5px; margin-left: 11px; font-size:0.9em;}
.mypage .mp_review ul li .cont .score_story p {clear: both; color: #444; font-size: 0.98em; word-break: break-all; padding: 16px 0 0; line-height: 21px; letter-spacing: -1px;}
.mypage .mp_review ul li .cont .cnt ul {overflow: hidden; border-bottom: none; padding: 3px 0 0;}
.mypage .mp_review ul li .cont .photo {position: relative; padding: 17px 0;}
.mypage .mp_review ul li .cont .photo ul {overflow: hidden; padding: 0;}
.mypage .mp_review ul li .cont .photo ul li {float: left; width: 151px; height: 123px; padding: 0; margin: 0 0 0 11px; overflow: hidden; position: relative;}
.mypage .mp_review ul li .cont .photo ul li:first-child {margin-left:0;}
.mypage .mp_review ul li .cont .photo ul li a {padding: 0; height: auto; line-height: 0; border: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.mypage .mp_review ul li .cont .photo ul li img {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;} 
.mypage .mp_review ul li .cont .btn_like_reply ul {overflow: hidden; padding: 0; margin: 0;}
.mypage .mp_review ul li .cont .btn_like_reply ul li {float: left; padding: 0 12px 0 0; margin: 0; border: none;} 
.mypage .mp_review ul li .cont .btn_like_reply ul li .btn_like {padding-left: 16px; background: url(/matjjang/resources/img/bg_icon_good.png) no-repeat 0 center; background-size:18%; font-size:0.8em;}
.mypage .mp_review ul li .cont .btn_like_reply ul li a {color: #999; display: inline-block; height: 16px; line-height: 16px;}

.info .profile_tabs {background: #eee;}
.info .profile_tabs ul {overflow: hidden; margin: 0 auto; width: 922px;}
.info .profile_tabs .authcd_y li {float: left; width: 50%;}
.info .profile_tabs ul li a {display: block; height: 50px; line-height: 50px; text-align: center; background: #e6e6e6; color: #000; font-size: 1.05em;}
.info .profile_tabs ul .on a {background: #000; color: #ffd900; font-weight: 700;}
.info .mp_profile_write {margin: 0 auto; width: 922px; overflow: hidden;}
.info .mp_profile_write .write_info {padding: 80px 0 68px 111px; border-bottom: 1px solid #d7d7d7;}
.info .mp_profile_write .write_info ul > li {position: relative; overflow: hidden; padding-top: 40px; padding-left: 29px;}
.info .mp_profile_write .write_info ul li:first-child {padding-top:0;}
.info .mp_profile_write .write_info ul li .tit {float: left; width: 94px; line-height: 38px; padding-right: 10px; color: #999; letter-spacing: -.25px; font-size: 1em;}
.info .mp_profile_write .write_info ul li .cnt {margin-left: 94px; overflow: hidden; position: relative;}
.info .mp_profile_write .write_info ul li .overflow {overflow: hidden; padding-left:0; padding-bottom: 15px;}
.info .mp_profile_write .write_info ul li .overflow li {float: left; padding: 0;}
.info .mp_profile_write .write_info ul li .overflow li .input01 {width:304px; border: 1px solid #d7d7d7; height: 38px; padding: 0 12px; position: relative; background: #fff;}
.info .input01 input {width: 100%; height: 33px; border: 0 none; font-size: 0.85em; color: #999; background: #fff; outline:0; padding:0;}
.info .input01 input::placeholder {color:#999; font-size:0.9em;} 
.info .mp_profile_write .btn_box {text-align: center; padding-top: 50px;}
.info .mp_profile_write .btn_box ul li {display:inline-block;}
.info .btnTy14 {width: 120px; height: 54px; line-height: 54px; text-align: center; color: #fff; font-size: 1.15em; font-weight: 700; background: #999; letter-spacing: -.75px; display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.info .mp_profile_write .btn_box .btnTy15 {margin-left: 17px; width: 120px; height: 56px; line-height: 54px; text-align: center; color: #fff; border:0; font-size: 1.15em; font-weight: 700; background: #ffc107; letter-spacing: -.75px; display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}

.leave .profile_tabs {background: #eee;}
.leave .profile_tabs ul {overflow: hidden; margin: 0 auto; width: 922px;}
.leave .profile_tabs .authcd_y li {float: left; width: 50%;}
.leave .profile_tabs ul li a {display: block; height: 50px; line-height: 50px; text-align: center; background: #e6e6e6; color: #000; font-size: 1.05em;}
.leave .profile_tabs ul .on a {background: #000; color: #ffd900; font-weight: 700;}
.leave .mp_profile_write {margin: 0 auto; width: 922px; overflow: hidden;} 
.leave .mp_profile_write .mp_member_out {padding: 76px 0 77px 99px; border-bottom: 1px solid #d7d7d7;}
.leave .mp_profile_write .mp_member_out p {font-size: 1.3em; font-weight: 700; letter-spacing: -.50px; padding-bottom: 40px;}
.leave .mp_profile_write .mp_member_out ol li {font-size: 1.1em; font-weight: 700; letter-spacing: -.25px; padding-top: 34px;}
.leave .mp_profile_write .mp_member_out ol li:first-child {padding-top:0;}
.leave .mp_profile_write .mp_member_out ol li span {display: block; font-weight: 400; color: #999; font-size: .875em; padding-top: 9px; padding-left: 19px; line-height: 20px;}
.leave .mp_profile_write .btn_box {text-align: center; padding-top: 50px;}
.leave .mp_profile_write .btn_box ul li {display:inline-block;}
.leave .btnTy14 {width: 120px; height: 54px; line-height: 54px; text-align: center; color: #fff; font-size: 1.15em; font-weight: 700; background: #999; letter-spacing: -.75px; display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.leave .mp_profile_write .btn_box .btnTy15 {margin-left: 17px; width: 120px; height: 56px; line-height: 54px; text-align: center; color: #fff; border:0; font-size: 1.15em; font-weight: 700; background: #ffc107; letter-spacing: -.75px; display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}


.findId {width: 400px; margin: 80px auto 0;} 
.findId .input01 {border: 1px solid #d7d7d7; height: 38px; margin:0 auto 20px; padding: 0 12px; position: relative; background: #fff;}
.findId .input01 input {width: 100%; height: 36px; border: 0 none; font-size: 0.85em; color: #999; background: #fff; outline:0; padding:0;}
.findId .input01 input::placeholder {color:#999; font-size:0.9em;} 
.findId ul {padding:0; display:flex; justify-content: space-between;}
.findId ul li a {color:#666; font-size:0.85em;}